{% extends 'base.html.twig' %}

{% set subheading   = "Currency" %}
{% set breadcrumbs  = "Add" %}

{% block body %}
  <div class="pull-right">
    <a href="/currencies" class="btn btn-default">Cancel</a>
  </div>

  <h2 class="page-header">Add a currency</h2>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
